a {
	text-decoration: none;
}

header a {
  color: white;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

header #site-title {
  font-size: 1.26rem;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
}

header .menu {
  display: flex;
  gap: 10px;
  z-index: 10;
  background-color: black;
}

#hamburger-toggle, #hamburger {
	display: none;
}

@media (max-width: 640px) {
	:root {
		--hamburger-width: 2rem;
		--hamburger-height: 19px;
		--hamburger-bar-width: 1px;
		--hamburger-margin: 20px;
	}
	.menu {
		flex-direction: column;
		background-color: black;
		position: absolute;
		right: 0;
		top: 0;
	}
	.menu > .menu-item {
		display: none;
		padding: 10px 30px;
		margin: 0;
		z-index: 10;
	}
	#hamburger-toggle:checked ~ .menu-item {
		display: inline;
	}
	#hamburger {
		display: inline;
		width: var(--hamburger-width);
		height: var(--hamburger-height);
		margin: var(--hamburger-margin);
		padding: 0;
	}
	#bar1, #bar2, #bar3 {
		position: absolute;
		width: var(--hamburger-width);
		right: var(--hamburger-margin);
		height: 0;
		border: solid #eaeaea var(--hamburger-bar-width);
		border-radius: var(--hamburger-bar-width);
		transition: 0.5s;
	}
	#bar2 {
		top: calc(var(--hamburger-margin) + var(--hamburger-height) / 2);
	}
	#bar3 {
		top: calc(var(--hamburger-margin) + var(--hamburger-height));
	}
	#hamburger-toggle:checked ~ #hamburger {
		width: var(--hamburger-height);
		transition: 0.5s;
	}
	#hamburger-toggle:checked ~ #hamburger #bar1 {
		width: calc(1.41421356 * var(--hamburger-height));
		transform-origin: center right;
		transform: translateY(calc(var(--hamburger-bar-width)/-1.41421356)) rotate(-45deg);
		transition: 0.5s;
	}
	#hamburger-toggle:checked ~ #hamburger #bar2 {
		width: var(--hamburger-height);
		opacity: 0;
		transition: 0.5s;
	}
	#hamburger-toggle:checked ~ #hamburger #bar3 {
		width: calc(1.41421356 * var(--hamburger-height));
		transform-origin: center right;
		transform: translateY(calc(var(--hamburger-bar-width)/1.41421356)) rotate(45deg);
		transition: 0.5s;
	}
}

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

#home-banner {
	height: min(100%, 400px);
	position: relative;
	background-color: black;
}

#home-banner-text {
	color: white;
	font-size: clamp(1.5rem, 3vw + 1rem, 5rem);
	font-weight: 700; 
	position: relative;
	margin: 0;
	padding: 10% 0 10% 20%;
}

#home-banner-picture {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 0;
	mask-image: linear-gradient(transparent, black);
}

#home-banner-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.social img {
	width: clamp(1rem, 1vw + 1rem, 3rem);
	margin: 5px;
}

.social {
	list-style: none;
	position: absolute;
	top: 50%;
	padding-left: 5%;
	transform: translateY(-50%);
}

#home-main {
	margin: 30px;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	flex-grow: 1;
}

#home-main > h2 {
	font-size: 2rem;
}

#home-about * {
	font-weight: 700;
	font-size: 1.25rem;
}

#home-about-link {
	text-align: center;
}

.content {
	margin-left: 5vw;
	margin-right: 5vw;
	flex-grow: 1;
}

.content img {
	max-width: 100%;
}

.card-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
	justify-items: center;
}

.card {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.card > * {
	margin: 10px;
}

.card-img {
	width: clamp(min(300px, 100%), 40%, 600px);
}

.card img {
	width: 100%;
}

.card-text {
	width: max(50%, 300px);
}

.card-text .read-more {
	background-color: black;
	color: white;
	padding: 10px 30px 10px 30px;
	border-radius: 5px;
}

table.schedule {
	width: min(90%, 800px);
	margin: 10px auto;
	border-collapse: collapse;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.schedule th, .schedule td {
	vertical-align: top;
	padding: 0.6rem;
}

tbody tr:nth-child(odd) {
	background-color: #eee;
}

footer {
	background-color: #222;
	color: #aaa;
	display: flex;
	flex-direction: column;
}

footer a {
	color: white;
}

footer #footer-socials {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

footer #footer-socials > div {
	width: max(15rem, 33%);
	text-align: center;
}

#footer-copyright {
	text-align: center;
	padding: 1rem;
}

.flush-right {
	text-align: right;
}
