a {
	text-decoration: none;
}

header a {
	color: white;
}

nav {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
	background-color: black;
}

header #site-title {
	font-size: 1.26rem;
	font-weight: 700;
	margin: 0;
	white-space: nowrap;
}

#home, .menu-item {
	padding: 0.5rem;
}

#hamburger-toggle, #hamburger {
	display: none;
}

.menu-items {
	display: flex;
}

@media (max-width: 640px) {
	:root {
		--hamburger-width: 32px;
		--hamburger-bar-width: 4px;
		--hamburger-gap: 3px;
		--hamburger-height: calc(var(--hamburger-bar-width)*3 + var(--hamburger-gap)*2);
		--transition-delay: 0.5s;
	}
	.menu {
		position: relative;
	}
	.menu-items {
		padding: 1rem;
		flex-direction: column;
		position: fixed;
		left: 100%;
		background-color: black;
		z-index: 10;
		transition: var(--transition-delay);
	}
	#hamburger-toggle:checked ~ .menu-items {
		transform: translateX(-100%);
		transition: var(--transition-delay);
	}
	#hamburger {
		display: inline-block;
		width: var(--hamburger-width);
		height: var(--hamburger-height);
		position: relative;
		transition: var(--transition-delay);
	}
	#bar1, #bar2, #bar3 {
		position: absolute;
		width: var(--hamburger-width);
		height: var(--hamburger-bar-width);
		background-color: #eaeaea;
		border-radius: calc(var(--hamburger-bar-width)/2);
		transition: var(--transition-delay);
	}
	#bar2 {
		top: calc(var(--hamburger-bar-width) + var(--hamburger-gap));
	}
	#bar3 {
		top: calc(var(--hamburger-bar-width) * 2 + var(--hamburger-gap) * 2);
	}
	#hamburger-toggle:checked ~ label #bar1 {
		width: calc(1.41421356 * var(--hamburger-height));
		transform-origin: center right;
		transform: translateY(calc(var(--hamburger-bar-width)/-2)) rotate(-45deg);
		transition: var(--transition-delay);
	}
	#hamburger-toggle:checked ~ label #bar2 {
		width: 0;
		opacity: 0;
		transform: translateX(var(--hamburger-width));
		transition: var(--transition-delay);
	}
	#hamburger-toggle:checked ~ label #bar3 {
		width: calc(1.41421356 * var(--hamburger-height));
		transform-origin: center right;
		transform: translateY(calc(var(--hamburger-bar-width)/2)) rotate(45deg);
		transition: var(--transition-delay);
	}
}

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

#home-banner {
	height: min(100%, 400px);
	position: relative;
	background-color: black;
}

#home-banner-text {
	color: white;
	font-size: clamp(1.5rem, 3vw + 1rem, 5rem);
	font-weight: 700; 
	position: relative;
	margin: 0;
	padding: 10% 0 10% 20%;
}

#home-banner-picture {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 0;
	mask-image: linear-gradient(transparent, black);
}

#home-banner-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.social img {
	width: clamp(1rem, 1vw + 1rem, 3rem);
	margin: 5px;
}

.social {
	list-style: none;
	position: absolute;
	top: 50%;
	padding-left: 5%;
	transform: translateY(-50%);
}

#home-main {
	margin: 30px;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	flex-grow: 1;
}

#home-main > h2 {
	font-size: 2rem;
}

#home-about * {
	font-weight: 700;
	font-size: 1.25rem;
}

#home-about-link {
	text-align: center;
}

.content {
	margin-left: 5vw;
	margin-right: 5vw;
	flex-grow: 1;
}

.content img {
	max-width: 100%;
}

.card-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
	justify-items: center;
}

.card {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.card > * {
	margin: 10px;
}

.card-img {
	width: clamp(min(300px, 100%), 40%, 600px);
}

.card img {
	width: 100%;
}

.card-text {
	width: max(50%, 300px);
}

.card-text .read-more {
	background-color: black;
	color: white;
	padding: 10px 30px 10px 30px;
	border-radius: 5px;
}

table.schedule {
	width: min(90%, 800px);
	margin: 10px auto;
	border-collapse: collapse;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.schedule th, .schedule td {
	vertical-align: top;
	padding: 0.6rem;
}

tbody tr:nth-child(odd) {
	background-color: #eee;
}

footer {
	background-color: #222;
	color: #aaa;
	display: flex;
	flex-direction: column;
}

footer a {
	color: white;
}

footer #footer-socials {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

footer #footer-socials > div {
	width: max(15rem, 33%);
	text-align: center;
}

#footer-copyright {
	text-align: center;
	padding: 1rem;
}

.flush-right {
	text-align: right;
}
