a {
	text-decoration: none;
	color: black;
}

header a {
  color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

header #site-title {
  font-size: 1.26em;
  font-weight: 700;
  margin: 0;
}

header .menu {
  display: flex;
  margin: 0;
}

header .menu-item {
  list-style: none;
  margin-left: 10px;
}

body {
	margin: 0;
}

#home-banner {
	height: min(100%, 400px);
	position: relative;
	background-color: black;
}

#home-banner-text {
	color: white;
	font-size: 3em;
	font-weight: 700; 
	position: relative;
	margin: 0;
	padding: 10% 0 10% 20%;
}

#home-banner-picture {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 0;
	mask-image: linear-gradient(transparent, black);
}

#home-banner-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section {
	margin: 30px;
}

.home-section > h2 {
	text-align: center;
}

#home-about * {
	font-weight: 700;
	font-size: 1.25em;
}

#home-about-link {
	text-align: center;
}

.card-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.card-box > * {
	margin: 10px;
	max-width: 200px;
}

.card-box img {
	width: 100%;
}

.card-box .read-more {
	background-color: black;
	color: white;
	padding: 10px 30px 10px 30px;
	border-radius: 5px;
}

