<header>
	<nav>
		<a id="home" href="{{ site.BaseURL }}">
			{{ if site.Params.logo }}
				<img src="{{ site.Params.logo | absURL }}" alt="{{site.Title}}">
			{{ else }}
				{{ if eq .Path "/" }}
					<h1 id="site-title">
				{{ else }}
					<div id="site-title">
				{{ end }}
				{{site.Title}}
				{{ if eq .Path "/" }}
					</h1>
				{{ else }}
					</div>
				{{ end }}
			{{ end }}
		</a>
		<div class="menu">
			<input type="checkbox" id="hamburger-toggle">
			<label for="hamburger-toggle" id="hamburger">
				<div id="bar1"></div>
				<div id="bar2"></div>
				<div id="bar3"></div>
			</label>
			<div class="menu-items">
				<div class="menu-item">
					<a href="{{ site.BaseURL }}">{{ with site.Params.Home }} {{ . }} {{ end }}</a>
				</div>
				{{ $current := . }}
				{{ range site.Menus.main }}
				{{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
				{{ $active = or $active (eq .Name $current.Title) }}
				<div class="menu-item {{ if $active }}active{{ end }}">
					<a href="{{ .URL | absURL }}">{{ .Name }}</a>
				</div>
				{{ end }}
			</div>
		</div>
	</nav>
</header>
