<header>
  <nav>
    <a href="{{ site.BaseURL }}">
      {{ if site.Params.logo }}
      <img src="{{ site.Params.logo | absURL }}" alt="{{site.Title}}">
      {{ else }}
      {{site.Title}}
      {{ end }}
    </a>

      <ul>
        <li>
          <a href="{{ site.BaseURL }}">{{ with site.Params.Home }} {{ . }} {{ end }}</a>
        </li>
        {{ $current := . }}
        {{ range site.Menus.main }}
        {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
        {{ $active = or $active (eq .Name $current.Title) }}
        <li class="{{ if $active }}active{{ end }}">
          <a href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
  </nav>
</header>
