{{ define "main" }}

<div id="home-banner">
  {{ if site.Data.homepage.topImage }}
		{{ with resources.Get site.Data.homepage.topImage }}
			{{ $jpgImg := .Resize (printf "%dx%d jpg" .Width .Height) }}
			<picture id="home-banner-picture">
				<img src="{{ $jpgImg.RelPermalink }}" alt="bg-shape">
			</picture>
		{{ end }}
  {{ else }}
  {{ end }}
  <div id="home-banner-text">{{ site.Data.homepage.banner.title | safeHTML }}</div>
</div>

    <ul>
      {{ range site.Params.social }}
      <li>{{.title}}: <a href="{{.URL | safeURL }}">{{.linkText}}</a></li>
      {{ end }}
    </ul>

  {{ if site.Data.homepage.about.enable }}
  <section class="home-section">
	  <div id="home-about">
	  {{ with site.Data.homepage.about }}
	  <p>{{.content | markdownify}}</p>
	  {{ if .button.enable }}
	  {{ with .button }}
	  <div id="home-about-link">
	  <a href="{{ .URL | absURL }}">{{.label}}</a>
	  </div>
	  {{ end }}
	  {{ end }}
	  {{ end }}
	</div>
</section>
  {{ end }}

  {{ if site.Data.homepage.pr.enable }}
  <section class="home-section">
  <h2>{{site.Data.homepage.pr.category }}</h2>
	<div class="card-box">
		{{ range (first 3 ( where .Site.Pages ".Params.categories" "intersect" (slice site.Data.homepage.pr.category) )).ByDate.Reverse }}
        {{ .Render "post" }}
        {{ end }}
	</div>
	</section>
  {{ end }}

  {{ if site.Data.homepage.activitie.enable }}
  <section class="home-section">
  {{ with site.Data.homepage.activitie }}
          <h2>{{ .title | markdownify }}</h2>
        {{ range .item }}
                <h4>{{.title}}</h4>
              <div>{{.content | markdownify}}</div>
        {{ end }}
  {{ end }}
  </section>
  {{ end }}

  {{ if site.Data.homepage.blog.enable }}
  <section class="home-section">
          <h2>{{site.Data.homepage.blog.title | markdownify }}</h2>
		<div class="card-box">
        {{ range (first 3 (where .Site.RegularPages "Section" "blog")).ByDate.Reverse }}
        {{ .Render "post" }}
        {{ end }}
		</div>
	</section>
  {{ end }}


{{ end }}
